/* header {
    background-color: rgba(202, 202, 209, 0.2);
    margin: 0 30px;
  }
  header .nav {
    display: flex !important;
  }
  header li {
    margin-right: 400px;
  }
  
  header ul {
    height: 200px;
  }
  
  header ul :hover {
    background-color: rgba(20, 12, 1, 0.5);
  }
  
  header ul li a {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
  }
  header ul li a:hover {
    color: rgb(205, 190, 190);
  }
  
  header li{
    padding: 32px;
  }
  
   */
  /*--------header------------*/
  /* @media screen and (max-width: 768px) {
  
    header {
      margin: 0;
      background-color: #1eb2a6;
      position: relative;
    }
    header ul.flexSS {
      display: none;
    }
    header ul li {
      margin-bottom: 20px;
    }
    
    .mobiles-nav {
      position: absolute;
      top: 7vh;
      left: 0;
      width: 100%;
      background-color: #1eb2a6;
    }
  } */