.card-container {
  border:3px solid black;
  padding: 50px;
}

.card-container h1{
   font-size: 45px;
   color: rgba(87, 5, 5, 0.626);
}

.cards{
 border:1px solid black;
 padding: 20px;
}

.card{
  border : 1px solid blue;
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 25px -5px;
  transition: 0.3s;
  animation: ease-in;
  padding: 40px;
  margin: auto;
  margin-top: 45px;
}

.card:hover{
  transform: scale(1,1);
  box-shadow: 0px 0px 25px 0px;
}



.img-container img{
  border: 1px solid greenyellow;
  overflow: hidden;
  height: 200px;

}