* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
}

.pro-page {
  background-color: rgba(135, 206, 250, 0.801);
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.591);
  margin: 50px auto;
  max-width: 600px;
}

.project {
  background-color: rgba(2, 17, 19, 0.817);
  padding: 30px;
  border-radius: 8px;
  margin-top: 20px;
}

.project h1 {
  color: rgba(35, 200, 229, 0.845);
  text-decoration: underline;
  font-size: 40px;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-out forwards;
}

.project .pro-list {
  padding: 20px;
  list-style-type: none; /* Remove default list styles */
}

.project .pro-list li {
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInScale 0.8s ease-out forwards;
  animation-delay: 1.5s; /* Add a slight delay between each item */
}

/* Media Queries */
@media (max-width: 768px) {
  .pro-page {
    padding: 30px;
  }

  .project {
    padding: 20px;
  }

  .project h1 {
    font-size: 32px;
  }

  .project .pro-list li {
    font-size: 18px;
    line-height: 40px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
